:root {
  --primary-color: #66eac0;
  --primary-light: #46e1ba;
  --accent-color: #764ba2;
  --text-dark: #333;
  --text-light: #666;
  --bg-gradient: linear-gradient(135deg, #66eac0 0%, #764ba2 100%);
  --white: #ffffff;
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Funnel Sans', sans-serif;
  background: var(--bg-gradient);
  min-height: 100vh;
  color: var(--text-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

h1, h2, h3, .title {
  font-family: 'Funnel Display', sans-serif;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 16px;
  max-width: 800px;
  width: 100%;
  padding: 40px;
  box-shadow: var(--shadow);
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile-img-container {
  width: 200px;
  height:  200px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--primary-color);
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 5px;
  color: var(--accent-color);
}

.nickname {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--text-light);
  margin-bottom: 5px;
}

.title {
  font-weight: 600;
  color: var(--primary-light);
  margin-bottom: 15px;
}

.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-links img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;
  opacity: 0.8;
}

.social-links img:hover {
  transform: translateY(-5px);
  filter: opacity(100%);
  opacity: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
}

.card {
  background: var(--white);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  border-top: 4px solid var(--primary-color);
  border-left:2px solid var(--primary-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card > h3 {
  margin-bottom: 4px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.tag {
  background-color: #dcdcdc;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.85rem;
  color: var(--text-dark);
  font-weight: 600;
  transition: background 0.3s;
}

.card:hover .tag {
  background-color: var(--primary-color);
  color: #ffffff;
}

.skill-list, .goal-list {
  list-style: none;
}

.skill-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border-bottom: 1px dashed #eee;
  padding-bottom: 5px;
}

.stars {
  color: gold;
}

.goal-list {
  margin-bottom: 12x;
  padding-left: 10px;
}

.goal-list li {
  margin-bottom: 12px;
}